<section>
  <div class="page-header">
    <h1>Shippingmasters</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="shippingmaster in vm.shippingmasters"
       ui-sref="shippingmasters.view({ shippingmasterId: shippingmaster._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="shippingmaster.created | date:'mediumDate'"></span>
        by
        <span ng-if="shippingmaster.user" ng-bind="shippingmaster.user.displayName"></span>
        <span ng-if="!shippingmaster.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="shippingmaster.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.shippingmasters.$resolved && !vm.shippingmasters.length">
    No Shippingmasters yet, why don't you <a ui-sref="shippingmasters.create">create one</a>?
  </div>
</section>
