<section>
  <div class="page-header">
    <h1>Contactbitebites</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="contactbitebite in vm.contactbitebites"
       ui-sref="contactbitebites.view({ contactbitebiteId: contactbitebite._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="contactbitebite.created | date:'mediumDate'"></span>
        by
        <span ng-if="contactbitebite.user" ng-bind="contactbitebite.user.displayName"></span>
        <span ng-if="!contactbitebite.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="contactbitebite.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.contactbitebites.$resolved && !vm.contactbitebites.length">
    No Contactbitebites yet, why don't you <a ui-sref="contactbitebites.create">create one</a>?
  </div>
</section>
