<section>
  <div class="page-header">
    <h1>Bids</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="bid in vm.bids"
       ui-sref="bids.view({ bidId: bid._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="bid.created | date:'mediumDate'"></span>
        by
        <span ng-if="bid.user" ng-bind="bid.user.displayName"></span>
        <span ng-if="!bid.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="bid.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.bids.$resolved && !vm.bids.length">
    No Bids yet, why don't you <a ui-sref="bids.create">create one</a>?
  </div>
</section>
