<section>
  <div class="page-header">
    <h1>Currencies</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="currency in vm.currencies"
       ui-sref="currencies.view({ currencyId: currency._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="currency.created | date:'mediumDate'"></span>
        by
        <span ng-if="currency.user" ng-bind="currency.user.displayName"></span>
        <span ng-if="!currency.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="currency.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.currencies.$resolved && !vm.currencies.length">
    No Currencies yet, why don't you <a ui-sref="currencies.create">create one</a>?
  </div>
</section>
