<section>
  <div class="page-header">
    <h1>Ads</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ad in vm.ads"
       ui-sref="ads.view({ adId: ad._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ad.created | date:'mediumDate'"></span>
        by
        <span ng-if="ad.user" ng-bind="ad.user.displayName"></span>
        <span ng-if="!ad.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ad.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ads.$resolved && !vm.ads.length">
    No Ads yet, why don't you <a ui-sref="ads.create">create one</a>?
  </div>
</section>
